<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> <a href="https://www.facebook.com/arvin.alfod" target="_blank">&nbsp;杨冬</a><br>
      <%= __('人生迷茫之时,  唯读书是指路明灯') %>
    </div>
  </div>
</footer>
